.post {
  background-color: rgb(245, 242, 239);
  padding: 5px;
  margin: 5px;
  border: 2px solid rgb(244, 228, 234);
}
.post h1 {
  font-size: large;
  font-weight: 700;
}
.post p {
  color: blueviolet;
}
